body {
    background: linear-gradient(to right, #0a0a0a, #0c0c0e, #040405);
    color: #fff;
    font-family: Monospace;
}

.header {
    padding: 12px !important;
    text-align: center;
    background: #17143f;
    filter: drop-shadow(0 0 0.95rem rgb(64, 66, 175));
}

.container {
    padding: 20px;
    text-align: center;
    padding: 12px;
}

.main {
    display: none;
}


.main.active {
    display: block;
}

#centerscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90%, 900px);
    padding: 30px;
    text-align: center;
    background: #0f0f14;
    border-radius: 18px;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.55);
}

#url {
    min-width: 800px;
}

#sendbutton, #getbutton, #deletebutton {
    color: #d3f6ff;
    background-color: #123959;
    border: none;
    padding: 0.5rem 1.20rem;
    border-radius: 1.05rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

#sendbutton:hover, #getbutton:hover, #deletebutton:hover {
    background-color: #0c2d47;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#riskybutton {
    background-color: #5a1818;
    color: #ffd3d3;
    border: none;
    padding: 0.5rem 1.20rem;
    border-radius: 1.05rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

#riskybutton:hover {
    background-color: #3d1111;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(4, 0, 41);
    color: white;
    text-align: center;
  }
